services:
  postgres:
    container_name: directory_service_postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: directory_service_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5436:5432"
    volumes:
      - postgres-data:/var/lib/postgresql

volumes:
  postgres-data: